<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        <property name="hibernate.c3p0.acquireRetryAttempts">1</property>
        <property name="hibernate.c3p0.acquireRetryDelay">250</property>

        <!--<property name="connection.username">root</property>
        <property name="connection.password">h3ll0mysq1</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/develope_viator?useLegacyDatetimeCode=false&amp;serverTimezone=UTC&amp;autoReconnect=true&amp;zeroDateTimeBehavior=convertToNull</property>-->
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/develope_viator?useLegacyDatetimeCode=false&amp;serverTimezone=UTC&amp;autoReconnect=true&amp;zeroDateTimeBehavior=convertToNull</property>
        <mapping class="Beans.ViatorDBBeans.ViatorProductDetailsBean"/>
        <mapping resource="ViatorProductDetailsBean.hbm.xml"/>
        <mapping resource="ViatorProductXCategoryBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorProductXCategoryBean"/>
        <mapping class="Beans.ViatorDBBeans.ViatorCategoriesBean"/>
        <mapping resource="ViatorCategoriesBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorSubcategoriesBean"/>
        <mapping resource="ViatorSubcategoriesBean.hbm.xml"/>
        <mapping resource="ViatorProductXSubcategoryBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorProductXSubcategoryBean"/>
        <mapping resource="ViatorProductUserPhotosBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorProductUserPhotosBean"/>
        <mapping resource="ViatorProductReviewsBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorProductReviewsBean"/>
        <mapping resource="ViatorProductAgeBandsBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorProductAgeBandsBean"/>
        <mapping resource="ViatorProductSalesPointsBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorProductSalesPointsBean"/>
        <mapping resource="ViatorProductDetailsBean.hbm.xml"/>
        <mapping resource="ViatorProductInclusionsBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorProductInclusionsBean"/>
        <mapping resource="ViatorProductAdditionalInfoBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorProductAdditionalInfoBean"/>
        <mapping resource="ViatorProductExclusionsBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorProductExclusionsBean"/>
        <mapping resource="ViatorProductPhotosBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorProductPhotosBean"/>
        <mapping resource="ViatorProductTourGradesBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorProductTourGradesBean"/>
        <mapping resource="ViatorProductTourGradeLanguageServicesBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorProductTourGradeLanguageServicesBean"/>
        <mapping resource="ViatorProductVideosBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorProductVideosBean"/>
        <mapping resource="ViatorDestinationsBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorDestinationsBean"/>
        <mapping class="Beans.ViatorDBBeans.ViatorCategoriesBean"/>
        <mapping resource="ViatorCategoriesBean.hbm.xml"/>
        <mapping resource="ViatorDestinationsBean.hbm.xml"/>
        <mapping resource="ViatorProductAdditionalInfoBean.hbm.xml"/>
        <mapping resource="ViatorProductAdditionalInfoBean.hbm.xml"/>
        <mapping resource="ViatorProductDetailsBean.hbm.xml"/>
        <mapping resource="ViatorProductAdditionalInfoBean.hbm.xml"/>
        <mapping resource="ViatorProductDetailsBean.hbm.xml"/>
        <mapping resource="ViatorProductDetailsBean.hbm.xml"/>
        <mapping resource="ViatorSubcategoriesBean.hbm.xml"/>
        <mapping resource="ViatorSubcategoriesBean.hbm.xml"/>
        <mapping resource="ViatorNoneAvailableDatesBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorNoneAvailableDatesBean"/>
        <mapping resource="ViatorUpdateFailedAvailDatesBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorUpdateFailedAvailDatesBean"/>
        <mapping class="Beans.ViatorDBBeans.ViatorUpdateFailedDestinationsBean"/>
        <mapping resource="ViatorUpdateFailedDestinationsBean.hbm.xml"/>
        <mapping resource="ViatorUpdateFailedProductsBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorUpdateFailedProductsBean"/>
        <mapping resource="ViatorUpdateProductsInfoBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorUpdateProductsInfoBean"/>
        <mapping resource="ViatorUpdateFailedDestinationsBean.hbm.xml"/>
        <mapping resource="ViatorUpdateProductsInfoBean.hbm.xml"/>
        <mapping resource="ViatorPickupHotelsBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorPickupHotelsBean"/>
        <mapping resource="ViatorAttractionsBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorAttractionsBean"/>
        <mapping resource="ViatorUpdateCategoriesInfoBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorUpdateCategoriesInfoBean"/>
        <mapping resource="ViatorUpdateDestinationsInfoBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorUpdateDestinationsInfoBean"/>
        <mapping class="Beans.ViatorDBBeans.ViatorPricingMatrixBean"/>
        <mapping resource="ViatorPricingMatrixBean.hbm.xml"/>
        <mapping resource="ViatorUpdateFailedPricematrixesBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.ViatorUpdateFailedPricematrixesBean"/>
        <mapping class="Beans.ViatorDBBeans.ViatorProductBookingQuestionsBean"/>
        <mapping resource="ViatorProductBookingQuestionsBean.hbm.xml"/>
        <mapping resource="AtbUpdateFailedProductBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.AtbUpdateFailedProductBean"/>
        <mapping resource="AtbUpdateProductsInfoBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.AtbUpdateProductsInfoBean"/>
        <mapping resource="SunhotelsUpdateInfoBean.hbm.xml"/>
        <mapping class="Beans.ATBDBBeans.KalitaonHotel.SunhotelsUpdateInfoBean"/>
        <mapping class="Beans.ViatorDBBeans.BookLogBean"/>
        <mapping resource="BookLogBean.hbm.xml"/>
        <mapping class="Beans.ViatorDBBeans.PrebookLogBean"/>
        <mapping resource="PrebookAPILogBean.hbm.xml"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>