<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/develope_viator</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="DB_Beans.ViatorProductDetailsBean"/>
        <mapping resource="ViatorProductDetailsBean.hbm.xml"/>
        <mapping resource="ViatorProductXCategoryBean.hbm.xml"/>
        <mapping class="DB_Beans.ViatorProductXCategoryBean"/>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>